@import "src/colors";

.prognosis-graph {
  width: 100%;

  .graph-container {
    width: 100%;

    svg {
      margin: 8px;
      padding: 8px;

      .axis {
        text {
          fill: white;
          font-family: 'Inter', sans-serif;
          font-weight: bold;
          font-size: 12pt;
        }
      }

      .lineHistoric {
        fill: none;
        stroke: #ffffff;
        stroke-width: 3px;
      }

      .linePrognosisLockdown {
        fill: none;
        stroke: $positive;
        stroke-width: 3px;
      }

      .linePrognosisNoLockdown {
        fill: none;
        stroke: $negative;
        stroke-width: 3px;
      }

      .budgetLine {
        transition: 500ms ease;
        stroke-width: 2;
        stroke-dasharray: 5, 5;

        &.hidden {
          opacity: 0;
        }

        &#budgetLineHorizontal {
          stroke: lightgrey;

          text {
            stroke: none;
            fill: white;
            font-family: 'Inter', sans-serif;
            font-weight: bold;
            font-size: 12pt;
          }
        }

        &#budgetLineLockdowns {
          stroke: $positive;
          stroke-dashoffset: 5;
        }

        &#budgetLineNoLockdowns {
          stroke: $negative;
        }
      }


      // HOVER
      .mouseLine {
        z-index: 10;
        height: 80%;
        width: 2px;
        fill: white;
      }

      .tooltip {
        top: 0;
        fill: $backgroundColorLight;
        stroke: white;
        stroke-width: 2px;
        rx: 10px;
        ry: 10px;
      }

      .tooltipValuesText {
        .hoverValuesText {
          font-weight: bold;
          font-size: 1.5em;
          text-anchor: end;
          left: 90px;
        }
      }

      .tooltipUnitsText {
        .hoverUnitsText {
          fill: white;
          font-weight: 300;
          font-size: 1.2em;
        }
      }

      .tooltipDescribeText {
        .hoverDescribeText {
          fill: white;
          text-align: center;
          font-weight: bold;
          font-size: 1.5em;
        }
      }

      .tooltipHoverDate {
        fill: white;
        font-weight: bold;
        font-size: 1.5em;
      }

      .separationLine {
        stroke: rgba(255, 255, 255, 0.5);
        stroke-width: 2;
      }
    }
  }

  .slider {
    width: 90%;
    background-color: $backgroundColorLight;
    margin-top: 10%;
    margin-left: 7%;

    font-weight: normal;
    -webkit-text-fill-color: rgba(255, 255, 255, 0.75);

    .ngx-slider-bubble  { //includes all slider labels
      padding-bottom: 10px;
      font-size: small;
    }

    .ngx-slider-pointer {
      background-color: $accentColor2;

      &:after {
        display: none;
      }
    }

    .ngx-slider-selection {
      background: $accentColor2;
    }
  }
}
