.covid-graph {

  .axis {

    text {
      fill: #fff;
      font-family: Arial, sans-serif;
      font-size: 120%;
    }
  }


  .line19 {
    transition: all 200ms ease;
    fill: none;
    stroke: #63f2ff;
    stroke-width: 3px;

    &.hidden {
      opacity: 0;
    }
  }

  .line20 {
    fill: none;
    stroke: #ffffff;
    stroke-width: 3px;
  }

  .area-above {
    transition: all 200ms ease;
    fill: #FF5889;

    &.hidden {
      opacity: 0;
    }
  }

  .area-below {
    transition: all 200ms ease;
    fill: #9BFFC7;

    &.hidden {
      opacity: 0;
    }
  }
}
