<div class="covid-graph">
  <div class="toggle">
    <mat-button-toggle-group #toggleGroup="matButtonToggleGroup">
      <mat-button-toggle value="absolute" (change)="onToggleChange($event.value)" checked >Absolute</mat-button-toggle>
      <mat-button-toggle value="relativeToWorld" (change)="onToggleChange($event.value)" >Relative to World</mat-button-toggle>
      <mat-button-toggle value="relativeToPopulation" (change)="onToggleChange($event.value)" >Per Capita</mat-button-toggle>
    </mat-button-toggle-group>
  </div>
  <div class="graph-container">
    <svg #graph></svg>
    <svg #covidGraph></svg>
  </div>
</div>
