.covid-graph {

  .axis {

    text {
      fill: #fff;
      font-family: Arial, sans-serif;
      font-size: 120%;
    }
  }


  .line19 {
    fill: none;
    stroke: #ed3700;
  }

  .line20 {
    fill: none;
    stroke: #27cda7;
  }
}
