<div id="diagrams" class="grid-container">
  <div class="grid-item">
    <h3>
      2019
    </h3>
  </div>
  <div class="grid-item">(placeholder)</div>
  <div class="grid-item">
    <h3>
      2020
    </h3>
  </div>
  <div class="grid-item">
    <svg id="pieChart2019"></svg>
  </div>
  <div class="grid-item">(placeholder)</div>
  <div class="grid-item">
    <svg id="pieChart2020"></svg>
  </div>
  <div class="grid-item">(placeholder)</div>
  <div class="grid-item">(placeholder)</div>
  <div class="grid-item">(placeholder)</div>
</div>
