<div id="top-bar">
  <app-top-bar (selectCountry)="onSelectCountry($event)"></app-top-bar>
</div>

<div id="main-content">

  <div id="text-container">
    <div>
      <h1> CO<sub>2</sub>-Emissions </h1>
      <h2> 2019 & 2020 </h2>
      <p>Due to the Covid-19 pandemic, the world looked a little bit different in 2020. People stayed at home,
        travelling was often impossible and planes had to stay grounded for the most part.</p>
      <p>These factors have resulted in noticeable changes to CO<sub>2</sub> emissions. As can be seen in the chart
        on the right, the daily CO<sub>2</sub> emissions for 2020 look fairly different from those of last year.</p>
      <ul class="legend">
        <li class="line2019">
          <div class="bullet"></div>
          2019
        </li>
        <li class="line2020">
          <div class="bullet"></div>
          2020
        </li>
      </ul>
      <i>Tip: Use the dropdown in the upper-right corner to look at different parts of the world!</i>
      <p></p>
      <p>The unit of the y-Axis of the graph is <i>Megatons of carbon dioxide per day</i>. One Megaton equals <strong>1,000,000
        metric tons.</strong>
      </p>
      <p>
        {{ worstDayOf20.date | date:'EEEE, MMMM d' }} was the worst day regarding emissions for {{ worstDayOf20.country }} in 2020.
        On this day, {{ worstDayOf20.country }} emitted {{ (worstDayOf20.mtCo2 * 1000000) | number:'1.0-0' }} metric tons of CO<sub>2</sub>.
      </p>
      <div class="scroll-prompt">
        <span>↓</span>
        <span>Scroll to Continue...</span>
      </div>
      <h2>Difference between 2019 and 2020</h2>
      <p>Let's take a look at how the emissions changed from 2019 to 2020.</p>
      <p>The green areas mark where the emissions were lower in 2020 and red areas mark where they were higher.</p>
      <ul class="legend">
        <li class="area-below">
          <div class="bullet"></div>
          Less Emissions than 2019
        </li>
        <li class="area-above">
          <div class="bullet"></div>
          More Emissions than 2019
        </li>

      </ul>
      <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
        dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
        Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet,
        consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed
        diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea
        takimata sanctus est Lorem ipsum dolor sit amet.</p>
      <div class="scroll-prompt">
        <span>↓</span>
        <span>Scroll to Continue...</span>
      </div>
      <h2>Influence of different Sectors</h2>
      <p>You might wonder which sectors were responsible for these emissions. Take a look at the sectors here:</p>
      <ul class="legend">
        <li *ngFor="let sectorKey of sectorKeys; index as i" [class]="sectorKey">
          <div class="bullet"></div>
          {{sectorNames[i]}}</li>
      </ul>
      <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
        dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
        Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet,
        consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed
        diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea
        takimata sanctus est Lorem ipsum dolor sit amet.</p>
      <div class="scroll-prompt">
      </div>
    </div>
  </div>

  <div id="graphs-container">
    <div class="graph-container" id="covid-container" [class.hidden]="!(scrollService.showCovidGraph$ | async)">
      <app-covid-graph [selectedCountry]="selectedCountry"
                       [showDifference]="scrollService.covidShowDifference$ | async"
                       [showSectors]="scrollService.covidShowSectors$ | async"
      ></app-covid-graph>
    </div>
    <div class="graph-container" id="pie-chart-container" [class.hidden]="!(scrollService.showPieGraph$ | async)">
      <app-pie-chart [selectedCountry]="selectedCountry"></app-pie-chart>
    </div>
    <div class="graph-container" id="prognosis-graph-container"
         [class.hidden]="!(scrollService.showPrognosisGraph$ | async)">
      <app-prognosis-graph [selectedCountry]="selectedCountry"></app-prognosis-graph>
    </div>
  </div>

</div>


