<div id="top-bar">
  <app-top-bar (selectCountry)="onSelectCountry($event)"></app-top-bar>
</div>

<div id="main-content">
  <div id="covid-container">
    <h2> Covid Graph </h2>
    <app-covid-graph [selectedCountry]="selectedCountry"></app-covid-graph>
  </div>

  <div id="pie-chart-container">
    <h2> Pie Chart</h2>
    <app-pie-chart [selectedCountry]="selectedCountry" [co2Data]="countryFilteredData"></app-pie-chart>
  </div>

  <div id="prognosis-graph-container">
    <h2> Prognosis Graph </h2>
    <app-prognosis-graph [selectedCountry]="selectedCountry"></app-prognosis-graph>
  </div>
</div>


