@import "src/styles";
@import "./top-bar/top-bar.component";


#main-content {
  position: relative;
  margin: 40px;
  display: flex;
  flex-direction: row;

  #text-container {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 35%;
    height: auto;

    .big-header {
      margin-bottom: -20px;
    }

    ul.legend {
      height: 200px;
      list-style-type: none;

      li {
        display: flex;

        .bullet {
          width: 16px;
          height: 16px;
          margin-right: 8px;
          border-radius: 4px;
        }

        &.power {
          .bullet {
            background: $power;
          }
        }

        &.groundTransport {
          .bullet {
            background: $ground-transport;
          }
        }

        &.industry {
          .bullet {
            background: $industry;
          }
        }

        &.residential {
          .bullet {
            background: $residential;
          }
        }

        &.domesticAviation {
          .bullet {
            background: $aviation;
          }
        }

        &.internationalAviation {
          .bullet {
            color: $aviation;
          }
        }
      }
    }
  }

  #graphs-container {
    width: 65%;
    position: fixed;
    right: 1em;

    #covid-container,
    #pie-chart-container,
    #prognosis-graph-container {
      box-sizing: border-box;
      margin-bottom: 50px;
      padding-left: 80px;
      padding-top: 80px;
      width: 100%;
    }
  }
}


