@import "src/styles";
@import "./top-bar/top-bar.component";


#main-content {
  margin-top: $top-bar-height;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#covid-container,
#pie-chart-container,
#prognosis-graph-container {
  border: solid 2px white;
  margin-bottom: 50px;
  padding: 20px;
}
