$line19: #6690ff;
$line20: white;
$covid: #ff5889;

$positive: rgb(79, 243, 150);
$negative: #fc7407;

$lockdownColor: #DCDCDC;
$lockdownOpacity: 0.1;

$power: #ffdb21;
$ground-transport: #20E74B;
$industry: #b968ff;
$residential: #f6304e;
$aviation: #388bef;

$accentColor: #9bffc7;
$accentColor2: #5d5d6d;

$backgroundColor: #110F19;
$backgroundColorLight: #1b1825;

$headlineColor: white;
$textColor: #d4d4d4;
$linkColor: #aaa3ac;

$toggleHover: #cacaca;
$toggleChecked: #eaeaea;
$toggle: #1B1825;
