$line19: #3333ff;
$line20: white;
$covid: #ffb272;

$positive: rgb(79, 243, 150);
$negative: #fc7407;

$lockdownColor: #DCDCDC;
$lockdownOpacity: 0.1;

$power: #ffdb21;
$ground-transport: #4f3316;
$industry:#941EF1;
$residential: #F63078;
$aviation: #388bef;

$accentColor: #9bffc7;
$accentColor2: #2b2170;

$backgroundColor: #110F19;
$backgroundColorLight: #1B1825;

$textColor: #d4d4d4;
$toggleChecked: #b3b0c8;
$toggle: #2b2170;
