$line19: #63f2ff;
$line20: white;

$positive: rgba(133, 255, 187, 0.75);
$negative: #FF5889;

$power: #FFDB21;
$ground-transport: #20E74B;
$industry: #941EF1;
$residential: #F63078;
$aviation: #3497F1;

$accentColor: #9BFFC7;
$accentColor2: #00C6CF;

$backgroundColor: #110F19;
$backgroundColorLight: #1B1825;

$toggleChecked: #b3b0c8;
$toggle: #2b2170;
