/* You can add global styles to this file, and also import other style files */
@import "colors";

body {
  background-color: #110F19;
  margin: 0;
  color: white;

  font-family: 'Inter', sans-serif;

  input {
    border: solid 2px $accentColor;
  }
}

h1 {
  font-weight: bold;
  font-size: 32pt;
}

h2 {
  font-weight: normal;
  font-size: 20pt;
}

$top-margin: 60px;

@keyframes blinktext {
  0% { opacity: 30% }
  50% { opacity: 70% }
  100% { opacity: 30% }
}
