/* You can add global styles to this file, and also import other style files */
@import "colors";

body {
  background-color: $backgroundColor;
  margin: 0;
  color: $textColor;

  font-family: 'Inter', sans-serif;

  input {
    border: solid 2px $accentColor;
  }
}

h1 {
  font-weight: bold;
  font-size: 32pt;
  line-height: 90%;
}

h2 {
  font-weight: normal;
  font-size: 20pt;
}

$top-margin: 60px;


