@import "src/colors";
$top-bar-height: 60px;

#top-bar-component {
  z-index: 2;
  top: 0px;
  right: 0px;
  height: $top-bar-height;

  position: fixed;
  display: flex;
  flex-direction: row-reverse;

  #dropDownMenu {
    transition: .2s ease;
    right: 50px;
    width: 20vw;
    min-width: 200px;
    height: 65px;

    margin-right: 30px;
    margin-top: 30px;
    padding: 0px 30px;

    background-color: $backgroundColorLight;
    border: none;
    border-radius: 8px;

    color: white;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    font-size: 26px;

    -moz-appearance:none; /* Firefox */
    -webkit-appearance:none; /* Safari and Chrome */
    appearance:none;

    :focus {
      outline: none !important;
      border: none;
    }

    &.hidden {
      opacity: 0;
      pointer-events: none;
    }

    option {
      font-family: 'Inter', sans-serif;
      font-weight: bold;
      font-size: 22px;

      p {
        padding: 10px 0px;
      }

      position: absolute;

    }
  }

  img {
    position: absolute;
    z-index: 1;
    pointer-events: none;

    top: 55px;
    right: 50px;

    width: 18px;
    height: 18px;

    transition: .2s ease;

    &.hidden {
      opacity: 0;
      pointer-events: none;
    }
  }
}
